body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    margin:  0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

/* Ajusta o tamanho em 400% para as imagens ficarem uma ao lado da outra */
.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

/* Aqui estão configurados os radio buttons, onde cada radio fica -25% mais para a esquerda, fazendo as imagens mudarem de posição dentro do div slides*/

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}


/* Ajusta a posição e tamanho da div com a classe navigation-auto*/
.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

/* Ajusta a cor da borda, raio de borda, cursor e transição das div dentro da div com a classe navigation-auto */
.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* Ajusta a margem direita das div dentro da div com a classe navigation-auto, exceto da última div */
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

/* Ajusta a cor de fundo da div quando o radio button for selecionado */
#radio1:checked ~ .navigation-auto .auto-btn1 {
 background-color: #fff;   
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;   
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;   
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;   
}