.footer {
    height: 100px;
    background-color: hsl(174, 45%, 29%);
    color: #fff9f0;
    display: flex;
    /*flex-direction: column;*/
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 10px auto;
}

@media (max-width: 720px) {
    .footer {
        height: 60px;
    }

    .footer-container {
        width: 90%;
        padding-top: 15px;
    }

    .text-mobile {
        font-size: 12px;
    }
}