@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fff9f0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

ul, body {
    margin: 0;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* SECTION */

.section {
    display: flex;
    width: 100%;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-message {
    margin-bottom: 45px;
    line-height: 30px;
    width: 56%;
}

/* Texto */

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 105%;
    color: #296a64;
}

.tittle {
    font-family: "Opens Sans", sans-serif;
    font-weight: 500;
    font-size: 270%;
    color: #296a64;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 56%;
}

.texto-sobre {
    width: 100%;
}

.image-container {
        display: flex;
        align-items: center;
        width: 100%;
}

.image-content {
    width: 100%;
}

/* Voltar para o Home */
.voltar-home {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #D87162;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.voltar-home:hover {
  background-color: #FFF9F0;
}

@media (min-width: 1360px) {
    .text {
        font-size: 130%;
    }
    .tittle {
        font-size: 560%;
    }
}

@media (min-width: 1224px) {
    .tittle {
        font-size: 450%;
    }
}

@media (max-width: 720px) {
    .content {
        flex-direction: column;
    }

    .content .tittle{
        font-size: 80px;
        width: 100%;
    }

    .content .text{
        font-size: 28px;
        line-height: 35px;
    }

    .about-message {
        width: 100%;
    }

    .teste {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .image-container {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .image-content {
        width: 100%;
    }
}